.login-container {
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
}

.form-container {
    flex: 1;
    padding: 50px;
    margin: 10px;
    /* margin-left: -50px; */
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Twitter-img {
    color: skyblue;
    max-width: 50%;

}

.input-form {
    width: 20px;

}

.heading,
h1 {
    font-size: 50px
}

.heading1,
h3 {
    font-size: 35px;

    justify-content: end
}


.image-container {
    flex: 2;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

.image {
    max-width: 100%;
    height: 90%;
    /* margin-left: -50px; */
}

input {
    display: grid;
    margin-bottom: 1px;
    padding: 5px;
    background-color: white;
    margin-top: 20px;

}

.email,
.password {

    background-color: #E8F0FE;
    width: 70%;
    border-radius: 8px;
    padding: 14px;
    border: none;
    outline: none;
}

.display-name {


    background-color: #E8F0FE;
    width: 70%;
    border-radius: 8px;
    padding: 14px;
    border: none;
    outline: none;

}




.btn-login {
    padding: 7px;
    width: 100%;
    text-align: center;
}

.btn {
    background-color: rgb(92, 199, 241);
    width: 75%;
    padding: 12px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 15px;
}

.g-btn {
    border: 1px solid;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
    width: 70% !important;
    margin: 10px;
}

.google-button {
    margin-top: 5%;
}

.g-btn>div,
.g-btn>div>svg {
    height: 30px !important;

}

.errorMessage {
    color: red;
    font-weight: 500;
    margin: 10px 0;
}

.signUpText>Link {
    text-decoration: none;
    color: var(--twitter-color) !important;

}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .heading {
        font-size: 38px;
    }

    .image {
        height: 80%;
        aspect-ratio: 16/1;
    }

}


@media screen and (min-width:768px) and (max-width:1023px) {
    .heading {
        font-size: 30px;
    }

    .image {
        height: 70%;
        aspect-ratio: 16/1;
    }

    .form-container {
        padding: 40px;
    }
}


@media screen and (min-width:320px) and (max-width:767px) {
    .login-container {
        order: 2;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-between;
    }

    .heading {
        font-size: 2.5rem;
    }

    .form-container {
        margin: 0;
        padding: 0px;
        padding-top: 50px;
    }

    form {
        max-width: 70%;
        margin: auto;
        width: 100%;
    }

    .image-container {
        display: none;
    }
}